Workflow-Backup/Pinecone.json
{
  "name": "Pinecone",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1svYWfiuun26-KpVBd8Rb7Q-thEHjQHHq",
          "mode": "list",
          "cachedResultName": "chatbot-data",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1svYWfiuun26-KpVBd8Rb7Q-thEHjQHHq"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        0
      ],
      "id": "bb40f702-6967-40e5-96e3-1c002efebe10",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "FHoLYXCcVeC4VvaP",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        0
      ],
      "id": "3dd40a4f-fec5-4287-82f7-6100d700455f",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "FHoLYXCcVeC4VvaP",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "chat-bot-hotel",
          "mode": "list",
          "cachedResultName": "chat-bot-hotel"
        },
        "options": {
          "pineconeNamespace": "hotel-chat-bot"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        224,
        0
      ],
      "id": "69a59949-cfcf-43db-a66b-988bbaaf7043",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "JxaVR0uDqoBKDdC6",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        112,
        192
      ],
      "id": "1ae4d8c6-06aa-4c02-8010-6d933537187f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "BYP59hKrGvujR73F",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "chat-bot-hotel",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        320,
        208
      ],
      "id": "12f2be6c-6754-4722-be9a-52fdddee4e74",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 900,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        432,
        384
      ],
      "id": "eb02b9d1-91cd-4b69-b692-8fcdb4ef7614",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ff0524d9-ac9d-495c-89b2-f7c4a73445d6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "40cede097e1ee1c5bd7404473f04ace12cf071b5edb9d616b901eaaa71f46069"
  },
  "id": "TwMsu5iAtfnr6CYR",
  "tags": []
}